<ng-container *ngIf="show$ | async as show">
  <app-slider [slides]="[show]" [isHeader]="true"></app-slider>
  <p-tabView>
    <p-tabPanel header="Visão Geral">
      <div class="grid">
        <div class="col-3">
          <img
            class="poster"
            [src]="imagesSizes.medium + show.poster_path"
            alt="show.title"
          />
        </div>
        <div class="col-9">
          <h2>Visão Geral</h2>
          <p class="overview">{{ show.overview }}</p>
          <div class="stat">
            <div class="label">Lançamento:</div>
            <div class="value">
              {{ show.release_date | date: 'dd/MM/yyyy' }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Idioma:</div>
            <div class="value">
              {{ show.original_language }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Lucro:</div>
            <div class="value">
              {{ show.revenue | currency: 'USD' }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Duração:</div>
            <div class="value">{{ show.runtime }} min</div>
          </div>
          <div class="stat">
            <div class="label">Status:</div>
            <div class="value">
              {{ show.status }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Gênero:</div>
            <div class="value">
              <span *ngFor="let genre of show.genres">
                {{ genre.name }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Trailers">
      <ng-container *ngIf="showVideos$ | async as showVideos">
        <div class="grid">
          <div class="col-4" *ngFor="let showVideo of showVideos">
            <app-video-embed [key]="showVideo.key"></app-video-embed>
          </div>
        </div>
      </ng-container>
    </p-tabPanel>
    <p-tabPanel header="Imagens">
      <ng-container *ngIf="showImages$ | async as showImages">
        <div class="grid">
          <div class="col" *ngFor="let showImage of showImages">
            <p-image
              [src]="imagesSizes.large + showImage.file_path"
              [alt]="show.title"
              width="250"
              [preview]="true"
            ></p-image>
          </div>
        </div>
      </ng-container>
    </p-tabPanel>
  </p-tabView>

  <ng-container *ngIf="showCast$ | async as actors">
    <p-carousel
      [value]="actors"
      [numVisible]="6"
      [numScroll]="3"
      [circular]="false"
    >
      <ng-template let-actor pTemplate="item">
        <div class="actor">
          <img [src]="imagesSizes.medium + actor.profile_path" [alt]="" />
          <div>{{ actor.character }}</div>
          <div>({{ actor.name }})</div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
</ng-container>
