<ng-container *ngIf="popularMovies$ | async as popularMovies">
  <app-slider [slides]="popularMovies"></app-slider>
</ng-container>

<ng-container *ngIf="upcomingMovies$ | async as upcomingMovies">
  <app-banner [title]="'Próximos Filmes'" [shows]="upcomingMovies"></app-banner>
</ng-container>
<ng-container *ngIf="topRatedMovies$ | async as topRatedMovies">
  <app-banner [title]="'Mais Avaliados'" [shows]="topRatedMovies"></app-banner>
</ng-container>
<ng-container *ngIf="popularTvShows$ | async as popularTvShows">
  <app-banner
    [title]="'Séries Populares'"
    [shows]="popularTvShows"
  ></app-banner>
</ng-container>
